# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter / IPython
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Config backups or temp
*.bak
*.swp
*.tmp

# PyInstaller
*.manifest
*.spec

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Ignore local config
configs/*.json
