# ZABER_U
SUBSYSTEM=="tty", ATTRS{serial}=="AB0NS4HR", SYMLINK+="ZABER_U", MODE="0666"

# ZABER_D
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:10.2.1:1.0", SYMLINK+="ZABER_D", MODE="0666"
